/* This is for the most basic element, which share by main page and product page*/

@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

/* Basic */

	body, input, select, textarea {
		color: black;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 10pt;
		font-weight: 300 !important;
		letter-spacing: -0.025em;
		line-height: 1.75em;
	}

		body.main_page * {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}
		
		body.product_page * {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

/* No Move Header */
    #no_move_header{
        background:red;
        height:80px;
        width:100%;
        position:fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }
/* No Move footer */
    #no_move_footer{
        background:green;
        height:50px;
        width:100%;
        position:fixed;
        bottom: 0;
        left:0;
        z-index: 1;
    }

/* No Move Left Bar */
    #no_move_left_bar{
        font-weight: bold;
        font-size: 25pt;
        text-align: center;
        color: white;
        left : 0;
        top:80px;
        position: fixed;
        width: 200px;
        height: 100%;
        background: #000;
        z-index: 2;
    }
    
/* Page Content*/
    #page_content{
         margin-top : 50px;
         margin-left: 200px;
         margin-bottom: 50px;
         z-index: 3;
    }

/* Main Page Element */

    div.product_thumbnail_container{
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    div.simpleCart_shelfItem{
        width: 200px;
        height: 200px;
        background-color: tomato;
        box-sizing: border-box;
        outline: 2px solid blue;
        margin: 5px;
    }
    div.product_thumbnail_image_container{
        overflow-y:auto;
        width: 100%;
        height: 80%;
    }
    div.product_thumbnail_txt_container{
        overflow-y:auto;
        top:80%;
        width: 100%;
        background-color: #999;
        height: 20%;
        line-height: 20%;
    }
    div.product_thumbnail_image_container img.center{
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
    }
    p.item_name{
        font-size: 12pt;
        float: left;
        width: 70%;
        color: white;
    }
    p.item_price{
        padding-right: 0;
        font-size: 12pt;
        width: 30%;
        color: white;
        float: right;
        text-align: right;
    }

/* Product Page Element */
    #product_name{
        
    }
    
    #product_price{
        
    }
    
    #product_description{
        
    }
    
    #product_add_button{
        
    }