/* This is for the most basic element, which share by main page and product page*/

/* Basic */

	body, input, select, textarea {
		color: black;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 10pt;
		font-weight: 300 !important;
		letter-spacing: -0.025em;
		line-height: 1.75em;
	}

		body.main_page * {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}
/* No Move Header */
    #no_move_header{
        background:red;
        height:80px;
        width:100%;
        position:fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }
/* No Move footer */
    #no_move_footer{
        background:green;
        height:50px;
        width:100%;
        margin-left: 200px;
        position:fixed;
        bottom: 0;
        left:0;
        z-index: 1;
    }

/* No Move Left Bar */
    #no_move_left_bar{
        font-weight: bold;
        font-size: 25pt;
        text-align: center;
        color: white;
        left : 0;
        top:80px;
        position: fixed;
        width: 200px;
        height: 100%;
        background: #000;
        z-index: 2;
    }
    #shoppingcart_checkout{
        display: none;
    }
    
/* Page Content*/
    #page_content{
         margin-top : 80px;
         margin-left: 200px;
         margin-bottom: 50px;
         z-index: 3;
    }

/* Main Page Element */
    div.history_hyperlink_container{
        display: block;
    }
    div.history_hyperlink_container>a.history_hyperlink{
        font-size: 20pt;
        text-decoration:none;
        font-weight: bold;
        display: inline;
    }

    div.product_thumbnail_container{
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    div.product_thumbnail_container>div.simpleCart_shelfItem{
        width:  250px;
        height: 250px;
        box-sizing: border-box;
        outline: 2px solid ;
        margin: 5px;
    }
    div.product_thumbnail_image_container{
        overflow-y:auto;
        width: 100%;
        height: 85%;
    }
    div.product_thumbnail_image_container>a{
        bottom: 0;
        font-size: 15pt;
        font-weight: bold;
        text-decoration:none;
    }
    div.product_thumbnail_image_container>a>p{
        display: block;
        margin: 0;
        text-align: center;
    }
    div.product_thumbnail_image_container img.center{
        display: block;
        margin: 0 auto;
        max-width: 85%;
        max-height: 85%;
    }
    div.product_thumbnail_image_container>a>p.item_id{
        display: none;
    }
    div.product_thumbnail_image_container>a>p.item_number{
        display: none;
    }
    div.product_thumbnail_txt_container{
        overflow-y:auto;
        top:30%;
        width: 100%;
        background-color: #999;
        height: 15%;
        line-height: 20%;
    }
    div.product_thumbnail_txt_container>p.item_name{
        font-size: 12pt;
        float: left;
        width: 70%;
        color: white;
    }
    div.product_thumbnail_txt_container>p.item_price{
        display: inline-block;
        padding-left: 0;
        font-size: 12pt;
        width: 30%;
        color: white;
        text-align: left;
    }

    div.product_thumbnail_txt_container>input.item_quantity{
        display: inline-block;
        width: 40px;
        border: none;
        float: right;
    }
    div.product_thumbnail_txt_container>input.item_add{
        display: inline-block;
        float: right;
    }
    div.product_thumbnail_txt_container>a>p.item_id{
        display: none;
    }
    div.product_thumbnail_txt_container>a>p.item_number{
        display: none;
    }

/* Product Page Element */
    div.product_picture_container{
        width: 40%;
        height: 500px;
        display: inline-block;
    }
    div.product_picture_container>div.image_wrapper{
        display: inline-block;
        position: relative;
        width: 70%;
        height: 350px;
        vertical-align: middle;
        border:5px solid #222;
        border-radius:25px;
    }

    div.product_picture_container>div.image_wrapper>img.center{
        display: block;
        position: relative;
        margin: 0 auto;
        vertical-align: middle;
        max-width: 80%;
        max-height: 80%;
    }

    div.product_text_container{
        left: 40%;
        width: 60%;
        float: right;
        height: 500px;
    }
    div.product_text_container>div.simpleCart_shelfItem>p.item_name{
        position: relative;
        width: 30%;
        padding-height: 10px;
        font-size: 30pt;
        display: inline-block;
        font-weight: bold;
        color: black;
    }
    div.product_text_container>div.simpleCart_shelfItem>p.item_id{
        display: none;
    }
    div.product_text_container>div.simpleCart_shelfItem>p.item_number{
        display: none;
    }
    div.product_text_container>div.simpleCart_shelfItem>p.item_price{
        position: relative;
        width: 70%;
        padding-height: 10px;
        float: right;
        display: inline-block;
        font-size: 30pt;
        font-weight: bold;
        color: black;
    }
    div.product_text_container>div.simpleCart_shelfItem>input.item_quantity{
        display: inline-block;
    }
    div.product_text_container>div.simpleCart_shelfItem>input.item_add{
        display: inline-block;
    }
    div.product_text_container>div.simpleCart_shelfItem>p.product_description{
        font-size: 15pt;
        display: block;
    }